body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #f0f2f5;
}


h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  color: #4e8fb8;
}

button, input {
  color: black;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

.ant-layout.ant-layout-has-sider {
  flex-direction: row;
}

.ant-menu-item .anticon {
  margin-right: 10px;
}

.ant-comment-avatar img {
  width: auto;
  height: auto;
}
